<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.crear_cursos') }}">Crear Cursos</a>
                </li>
            </ul>
            <div class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.profile', username=current_user.username) }}" class="btn btn-outline-info me-2">
                        {{ current_user.username }}
                    </a>
                    <a href="{{ url_for('main.logout') }}" class="btn btn-outline-danger">Cerrar Sesión</a>
                {% else %}
                    <a href="{{ url_for('main.login') }}" class="btn btn-outline-primary me-2">Iniciar Sesión</a>
                    <a href="{{ url_for('main.register') }}" class="btn btn-outline-secondary">Registrarse</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar {
        padding: 1rem 1rem;
    }

    .nav-link {
        transition: color 0.3s;
    }

    .nav-link:hover {
        color: #f8f9fa;
        text-decoration: underline;
    }

    .btn-outline-info, .btn-outline-primary, .btn-outline-secondary {
        transition: background-color 0.3s, border-color 0.3s;
    }

    .btn-outline-info:hover {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-outline-primary:hover {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-outline-secondary:hover {
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>
